.idea/
report
venv
dist
build
others
com/__pycache__/
com/guo/__pycache__/
com/__init__.py
learn/__init__.py
com/guo/__init__.py
com/working/*.txt
com/working/wer
com/working/fire_meeting_room.py
com/working/__init__.py
AGR_for_Mac.spec
AGR_for_Mac_ang.spec
com/working/*.log
com/working/*.xls
com/working/getSoPerformance.py
